
  <div class="container my-5">
    <div class="row">
      <div class="offset-1">
        <h3 class="bg-light">ジャンル一覧・追加</h3>
      </div>
    </div>
    <%= form_with model: @genre, url: admin_genres_path do |f| %>
      <div class="row my-5">
        <div class="col-2 font-weight-bold">
          <label>ジャンル名</label>
        </div>
        <div class="col-3">
          <%= f.text_field :name %>
        </div>
        <div class="col-2">
          <%= f.submit "新規登録", class: "btn btn-success btn-block" %>
        </div>
      </div>
    <% end %>
    <table class="table col-4">
      <thead class="bg-light" align="center">
        <th>ジャンル</th>
        <th></th>
      </thead>
      <% @genres.each do |genre| %>
        <tbody>
            <td><%= genre.name %></td>
            <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success btn-block" %></td>
        </tbody>
      <% end %>
    </table>
  </div>